extends layout
block content
 h1= title

 - let eraserid = toShow._id
 - let eraser = toShow.eraser
 - let cost = toShow.cost
 - let size = toShow.size

 div.row(class='mb-2')
   div.mr-1 ID is
   div #{eraserid}
 - let actionid = "/resource/eraser/" + eraserid
 form(id='eraserForm', action= actionid, method="PUT")
  div.form-group
    label.eraserAttr(for='eraser') eraser type
    input#eraser(type='text', name='eraser', value= eraser )
  div.form-group
    label.eraserAttr(for='size') eraser size
    input#size(type='text', name='size', value= size )
  div.form-group
    label.eraserAttr(for='cost') eraser cost
    input#cost(type='number', name='cost', value= cost )
  input(type="submit")
 script.
  document.forms['eraserForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
     method: 'PUT',
     body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
     return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
     alert("Update succeded")
     // TODO handle body
    }).catch((error) => {
     // TODO handle error
     alert("Update failed " + error )
    });
  });